<img class="mobile logo" src="/assets/imgs/Logo_dark.png" alt="Logo" routerLink="/">
<main class="mw1400">
    <section>
        <header>
            <div class="header-content">
                <p class="badge">Draft</p>
                <h1>Create new survey</h1>
            </div>
            <button routerLink="/" class="cancel-btn">
                <p>Cancel </p>
                <img src="assets/imgs/close.png" alt="">
            </button>
        </header>

        <div class="form">
            <div class="top-form">
                <div class="left-top-form">
                    <div class="name-div">
                        <div class="mobile-div">
                            <h2 class="data-title">Survey name</h2>
                            <button class="delete-btn mobile" (click)="clearField('name')" (mouseenter)="binPath1 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath1 = 'assets/imgs/Bin.png'">
                                <img src="{{ binPath1 }}" alt="">
                            </button>
                        </div>                        
                        <div class="form-input">
                            <input type="text" placeholder="Enter survey name" class="name-input" [(ngModel)]="name" maxlength="50" minlength="3">
                            <button class="delete-btn" (click)="clearField('name')" (mouseenter)="binPath1 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath1 = 'assets/imgs/Bin.png'">
                                <img src="{{ binPath1 }}" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="date-category">
                        <div class="date-div">
                            <div class="mobile-div">
                                <h2 class="data-title">Set end date <span>(optional)</span></h2>
                                <button class="delete-btn mobile" (click)="clearField('enddate')" (mouseenter)="binPath2 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath2 = 'assets/imgs/Bin.png'">
                                    <img src="{{ binPath2 }}" alt="">
                                </button>
                            </div>                            
                            <div class="form-input">
                                <input type="date" class="date-input" [(ngModel)]="enddate" placeholder="" min="{{ minDate }}">
                                <button class="delete-btn" (click)="clearField('enddate')" (mouseenter)="binPath2 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath2 = 'assets/imgs/Bin.png'">
                                    <img src="{{ binPath2 }}" alt="">
                                </button>
                            </div>
                        </div>
                        <div class="category-dropdown">
                            <button type="button" class="dropdown-btn" (click)="toggleCategories()" (mouseenter)="hoverSrc()" (mouseleave)="leaveHoverSrc()">
                                Choose category
                                <img src="{{ dropdownArrow }}" alt="Dropdown" class="dropdown-arrow">
                            </button>
                            @if (showCategories) {
                                <div class="dropdown-menu">
                                    @for (category of categories; track category) {
                                        <button type="button" class="dropdown-item" (click)="selectCategory(category)">
                                            <span>{{ category }}</span>
                                        </button>
                                    }
                                </div>
                            }
                            <p class="selected-category">{{ selectedCategory }}</p>
                        </div>
                    </div>                  
                </div>
                <div class="right-top-form">
                    <div class="mobile-div">
                        <h2 class="data-title">Describing text <span>(optional)</span></h2>
                        <button class="delete-btn fs mobile" (click)="clearField('description')" (mouseenter)="binPath3 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath3 = 'assets/imgs/Bin.png'">
                            <img src="{{ binPath3 }}" alt="">
                        </button>
                    </div>                    
                    <div class="form-input">
                        <textarea class="description-input" [(ngModel)]="description" placeholder="Enter description" maxlength="200" minlength="10"></textarea>
                        <button class="delete-btn fs" (click)="clearField('description')" (mouseenter)="binPath3 = 'assets/imgs/Bin_hover.png'" (mouseleave)="binPath3 = 'assets/imgs/Bin.png'">
                            <img src="{{ binPath3 }}" alt="">
                        </button>
                    </div>
                </div>
            </div>      
            
            <div class="bottom-form">
                @for (question of questionForms; track question.id) {
                    <app-question-form [question]="question" [index]="$index" (deleteQuestion)="removeQuestion($event)"></app-question-form>
                }
                <button (click)="addQuestionForm()" class="add-btn">
                    Add  next question <img src="assets/imgs/add_circle_white.png" alt="">
                </button>
            </div>
        </div>
    </section>
    <button class="publish-btn" (click)="publishSurvey()" [disabled]="!canPublish()">
        Publish
        <img src="assets/imgs/check.png" alt="">
    </button>
</main>
@if (showPublishedOverlay()) {
<app-published-overlay (closeOverlay)="goToSurvey()"></app-published-overlay>
}