<main>
    <div class="mw1400 margin-l">
        <header>
            <img src="/assets/imgs/Logo_dark.png" alt="Logo" routerLink="/">
            <button class="create-btn">
                Create Survey
                <img src="/assets/imgs/add_circle.png" alt="Add Circle" class="add-circle">
            </button>
        </header>

        <section class="survey-data">
            <div class="survey-answers">
                <h2 class="published">Published</h2>
                <div class="survey-info">
                    <p>Ends on {{ formattedEndDate }}</p>
                    <p>Category: {{ survey.category }}</p>
                </div>
                <h1>{{ survey.name }}</h1>
                <p>{{ survey.description }}</p>
                <div class="answer-grid">
                    <div *ngFor="let question of questions; let i = index">
                        <h2>{{ i + 1 }}. {{ question.question }}</h2>
                        <div class="answer">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'A', question.multiple_answers, $event)">
                            <span>A.</span> 
                            {{ question.A }}
                        </div>
                        <div class="answer">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'B', question.multiple_answers, $event)">
                            <span>B.</span> 
                            {{ question.B }}
                        </div>

                        <div class="answer" *ngIf="question.C && question.C !== ''">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'C', question.multiple_answers, $event)">
                            <span>C.</span> 
                            {{ question.C }}
                        </div>

                        <div class="answer" *ngIf="question.D && question.D !== ''">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'D', question.multiple_answers, $event)">
                            <span>D.</span> 
                            {{ question.D }}
                        </div>

                        <div class="answer" *ngIf="question.E && question.E !== ''">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'E', question.multiple_answers, $event)">
                            <span>E.</span> 
                            {{ question.E }}
                        </div>

                        <div class="answer" *ngIf="question.F && question.F !== ''">
                            <input [type]="question.multiple_answers ? 'checkbox' : 'radio'" [name]="'question-' + question.id" (change)="selectAnswer(question.id, 'F', question.multiple_answers, $event)">
                            <span>F.</span> 
                            {{ question.F }}
                        </div>
                    </div>
                </div>
                <button class="complete-btn" (click)="completeSurvey()">Complete survey</button>
            </div>
            
            <div class="survey-results">
                <h2 class="results-title">Survey results <span>LIVE</span></h2>
                <div *ngFor="let question of questions; let i = index" class="result-question">
                    <h2>{{ i + 1 }}. {{ question.question }}</h2>
                    <div *ngIf="question.A && question.A !== ''" class="answer-percentage">
                        A <div class="full-bar"><div class="percentage-bar" [style.width]="question.A_percentage + '%'"></div></div> {{ question.A_percentage }}%                        
                    </div>

                    <div *ngIf="question.B && question.B !== ''" class="answer-percentage">
                        B <div class="full-bar"><div class="percentage-bar" [style.width]="question.B_percentage + '%'"></div></div> {{ question.B_percentage }}%
                    </div>

                    <div *ngIf="question.C && question.C !== ''" class="answer-percentage">
                        C <div class="full-bar"><div class="percentage-bar" [style.width]="question.C_percentage + '%'"></div></div> {{ question.C_percentage }}%
                    </div>

                    <div *ngIf="question.D && question.D !== ''" class="answer-percentage">
                        D <div class="full-bar"><div class="percentage-bar" [style.width]="question.D_percentage + '%'"></div></div> {{ question.D_percentage }}%
                    </div>

                    <div *ngIf="question.E && question.E !== ''" class="answer-percentage">
                        E <div class="full-bar"><div class="percentage-bar" [style.width]="question.E_percentage + '%'"></div></div> {{ question.E_percentage }}%
                    </div>

                    <div *ngIf="question.F && question.F !== ''" class="answer-percentage">
                        F <div class="full-bar"><div class="percentage-bar" [style.width]="question.F_percentage + '%'"></div></div> {{ question.F_percentage }}%
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
