@font-face {
  font-family: 'Nerko One';
  src: url('/assets/fonts/NerkoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokora';
  src: url('/assets/fonts/Nokora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nokora';
  src: url('/assets/fonts/Nokora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', sans-serif;
}

.mw1400 {
    max-width: 1400px;
    margin: 0 auto;
}