<main >
    <div class="mw1400 margin-l">
        <img src="/assets/imgs/Logo.png" alt="Home" class="logo">

        <section class="up-section">
            <div class="new-survey-div">
                <div>
                    <h1>Collect Feedback,<br> Unlock Ideas</h1>
                    <p>Create and surveys in minutes - from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
                    <button>New survey <img src="/assets/imgs/add_circle.png" alt="" class="add-circle"></button>
                </div>
                <img src="/assets/imgs/example.png" alt="">
            </div>
            <div class="ending-soon-surveys">
                <h2>Your surveys</h2>
                <h3>Ending soon surveys</h3>
                <div class="survey-row">
                    <div *ngFor="let survey of supabase.surveys()" class="survey-card"  [routerLink]="['/survey', survey.id]">
                        <div class="survey-card-header">
                            <p>{{ survey.category }}</p>
                            <h4>{{ survey.name }}</h4>
                        </div>
                        <p class="p-highlight">{{ getEndsInText(survey.enddate) }}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-down">
            <div class="filter-div">
                <div class="filter-btn-div">
                    <button class="survey-filter-btn" [class.active]="selectedFilter === 'active'" (click)="setFilter('active')">Active survey</button>
                    <button class="survey-filter-btn" [class.active]="selectedFilter === 'past'" (click)="setFilter('past')">Past survey</button>
                </div>
                <div class="category-dropdown">
                    <button
                        type="button"
                        class="dropdown-btn"
                        (click)="toggleCategories()"
                        (mouseenter)="hoverSrc()"
                        (mouseleave)="leaveHoverSrc()">

                        Sort by categories
                        <img src="{{ dropdownArrow }}" alt="Dropdown" class="dropdown-arrow">
                    </button>

                    @if (showCategories) {
                        <div class="dropdown-menu">
                            @for (category of categories; track category) {
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    (click)="selectCategory(category)">

                                    <span>{{ category }}</span>
                                </button>
                            }
                        </div>
                    }
                </div>
            </div>
            <span class="category-span">{{ selectedCategory }}</span>
            <div class="survey-grid">
                <div *ngFor="let survey of supabase.surveys()" class="survey-grid-card" routerLink="/survey">
                    <p class="card-category">{{ survey.category }}</p>
                    <h4 class="card-title">{{ survey.name }}</h4>
                    <p class="card-enddate">{{ getEndsInText(survey.enddate) }}</p>
                </div>
            </div>
        </section>

    </div>
</main>