main {
    min-height: 100vh;
    background-color: rgba(53, 39, 58, 1);
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.margin-l {
  width: 100%;
  max-width: 1200px;
  padding-left: 111px;
  padding-right: 111px;
  box-sizing: border-box;
}

.logo {
    margin-top: 39px;
}

.up-section {
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-top: 64px;
}

.new-survey-div {
    display: flex;
    gap: 32px;

    img {
        width: 426px;
        height: 420px;
    }

    button {
        padding: 12px 16px;
        border-radius: 10px;
        width: 138px;
        height: 48px;
        gap: 10px;
        background-color: rgba(255, 207, 161, 1);
        font-family: 'Nokora', serif;
        font-size: 18px;
        border: none;
        font-style: bold;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            background-color: rgba(255, 183, 112, 1);
            width: 172px;
            cursor: pointer;
        }

        &:hover .add-circle {
            display: inline-block;
        }
    }
}

.add-circle {
    width: 24px !important;
    height: 24px !important;
    display: none;
}

h1, h2 {
    color: rgba(255, 183, 112, 1);
}

h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 72px;
    margin-top: 0;
}

h3 {
    font-size: 32px;
    font-family: 'Mulish', serif;
    font-weight: 500;
}

p, h3 {
    color: white;
}

p {
    font-size: 24px;
    font-weight: 100;
}

.ending-soon-surveys {
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
    }
}

.survey-card-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }
}

.survey-row {
    display: flex;
    gap: 32px;
}

.survey-card {
    background-color: rgba(250, 245, 254, 1);
    font-family: 'Mulish', serif;
    width: 321px;
    height: 310px;
    padding: 18px 40px;
    border-radius: 0 25% 0 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: black;
        font-size: 16px;
        font-weight: 600;
        padding: 3px 6px;
        border-radius: 0 14px 0 0;
        width: fit-content;
    }

    h4 {
        font-size: 26px;
        font-weight: 700;
    }

    .p-highlight {
        background-color: rgba(255, 207, 161, 1);
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(244, 233, 251, 1);

        .p-highlight {
            background-color: rgba(255, 183, 112, 1);
        }
    }
}

.section-down {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 40px;
}

.filter-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-btn-div {
    display: flex;
    gap: 24px;
}

.survey-filter-btn {
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    font-family: 'Nokora', serif;
    background-color: rgba(255, 233, 212, 1);

    &:hover {
        background-color: rgba(255, 183, 112, 1);
        cursor: pointer;
    }

    &.active {
        background-color: rgba(255, 183, 112, 1);
    }
}

.survey-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;

    scrollbar-color: rgba(255, 183, 112, 1) transparent;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 183, 112, 1);
        border-radius: 10px;
    }
}

.survey-grid-card {
    background-color: rgba(217, 217, 217, 0.08);
    border-radius: 5px 50px 5px 5px;
    padding: 12px 20px;
    gap: 24px;

    &:hover {
        background-color: rgba(217, 217, 217, 0.16);
        cursor: pointer;
    }
}

.card-category {
    font-family: 'Mulish', serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 207, 161, 1);
}

.card-title {
    font-family: 'Mulish', serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.card-enddate {
    font-family: 'Mulish', serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(34, 18, 39, 1);
    background-color: rgba(255, 207, 161, 1);
    padding: 3px 6px;
    gap: 10px;
    border-radius: 0 14px 0 0;
    width: 124px;
    height: 21px;
    justify-self: flex-end;
    text-align: center;
}

//Dropdown Menu
.category-dropdown {
    position: relative;
    width: 206px;
    height: 32px;
}

.dropdown-btn {
    width: 100%;
    padding: 4px 6px 4px 10px;
    border-radius: 6px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-align: left;
    font-family: 'Mulish', serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: rgba(217, 217, 217, 0.12);
    }

    img {
        width: 15px;
        height: 8px;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    z-index: 100;
}

.dropdown-item {
    width: 100%;
    padding: 8px 4px;
    border: none;
    background: white;
    text-align: left;
    cursor: pointer;
    font-family: 'Mulish', serif;
    font-size: 14px;
    font-weight: 400;

    span {
        border-radius: 6px;
        padding: 4px;
        font-size: 16px;

        &:hover {
            background-color: rgba(244, 233, 251, 1);
        }
    }
}

.category-span {
    border-radius: 6px;
    width: 192px;
    height: 26px;
    padding: 4px 4px 4px 10px;
    gap: 10px;
    font-family: 'Mulish', serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 183, 112, 1);
    letter-spacing: 2%;
    align-self: flex-end;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.survey-form-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow-y: auto;

  background-color: white;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
    .survey-row {
        overflow-x: auto; 
        scrollbar-width: none;
    }

    .survey-grid {
        grid-template-columns: repeat(1, 1fr);
        box-sizing: border-box;
    }

    .survey-grid-card {
        box-sizing: border-box;
    }

    .survey-card {
        min-width: 250px;
        height: 233px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .new-survey-div {
        img {
            justify-self: center;
        }

        button {
            justify-self: center;
            width: 172px;
            background-color: rgba(255, 183, 112, 1);
        }
    }
    
    .add-circle {
        display: block;
    }
}

@media (max-width: 800px) {
    .margin-l {
        padding-left: 16px;
        padding-right: 16px;
    }

    .new-survey-div {

        img {
            width: 280px;
            aspect-ratio: 1;
            justify-self: center;
        }
    }

    h1 {
        font-weight: 400;
        font-size: 62px;
    }

    h2 {
        font-weight: 400;
        font-size: 54px;
    }

    h3 {
      font-weight: 500;
      font-size: 24px;  
    }

    .description-text {
        font-weight: 600;
        font-size: 18px;
    }

    .filter-div {
        flex-direction: column;
        gap: 48px;
    }

    .filter-btn-div {
        width: 100%;
    }

    .category-dropdown {
        width: 100%;

        button {
            width: 206px;
        }
    }

    .category-span {
        align-self: flex-start;

    }
}