main {
    min-height: 100vh;
    background-color: rgba(53, 39, 58, 1);
    padding-bottom: 120px;
}

.margin-l {
    margin-left: 111px;
    margin-right: 111px;
}

.logo {
    margin-top: 39px;
}

.up-section {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin-top: 92px;
}

.new-survey-div {
    display: flex;
    gap: 32px;

    img {
        width: 426px;
        height: 420px;
    }

    button {
        padding: 12px 16px;
        border-radius: 10px;
        width: 138px;
        height: 48px;
        gap: 10px;
        background-color: rgba(255, 207, 161, 1);
        font-family: 'Nokora', serif;
        font-size: 18px;
        border: none;
        font-style: bold;
        font-weight: 700;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            background-color: rgba(255, 183, 112, 1);
            width: 172px;
            cursor: pointer;
        }

        &:hover .add-circle {
            display: inline-block;
        }
    }
}

.add-circle {
    width: 24px !important;
    height: 24px !important;
    display: none;
}

h1, h2 {
    color: rgba(255, 183, 112, 1);
}

h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 72px;
    margin-top: 0;
}

h3 {
    font-size: 32px;
    font-family: 'Mulish', serif;
    font-weight: 500;
}

p, h3 {
    color: white;
}

p {
    font-size: 24px;
    font-weight: 100;
}

.ending-soon-surveys {
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
    }
}

.survey-card-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }
}

.survey-row {
    display: flex;
    gap: 32px;
}

.survey-card {
    background-color: rgba(250, 245, 254, 1);
    font-family: 'Mulish', serif;
    width: 321px;
    height: 310px;
    padding: 18px 40px;
    border-radius: 0 25% 0 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: black;
        font-size: 16px;
        font-weight: 600;
        padding: 3px 6px;
        border-radius: 0 14px 0 0;
        width: fit-content;
    }

    h4 {
        font-size: 26px;
        font-weight: 700;
    }

    .p-highlight {
        background-color: rgba(255, 207, 161, 1);
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(244, 233, 251, 1);

        .p-highlight {
            background-color: rgba(255, 183, 112, 1);
        }
    }
}

.section-down {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.survey-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
}